<nav id="mainNav" class="navbar">
    <div class="container-fluid">
            <ul class="navbar active">

              {% if page.active == "about" %}
                  <li class="active"><a href="#">About</a></li>
              {% else %}
                  <li><a href="../about">About</a></li>
              {% endif %}

              {% if page.active == "data" %}
                  <li class="active"><a href="#">Data</a></li>
              {% else %}
                  <li><a href="../data/">Data</a></li>
              {% endif %}

              {% if page.active == "participation" %}
                  <li class="active"><a href="#">Participation</a></li>
              {% else %}
                  <li><a href="../participation/">Participation</a></li>
              {% endif %}

              {% if page.active == "dates" %}
                  <li class="active"><a href="#">Important Dates</a></li>
              {% else %}
                  <li><a href="../dates/">Important Dates</a></li>
              {% endif %}

              {% if page.active == "home" %}
                  <li class="active"><a href="#">Home</a></li>
              {% else %}
                  <li><a href="/">Home</a></li>
              {% endif %}

            </ul>
    </div>
    <!-- /.container-fluid -->
</nav>
